html,body {
	margin: 2px;
    height:1000px;
    font-family:"Courier New", monospace;
}

header {
    background-image: url("Pictures/NYCskyline.png");
    padding-top: 10px;
    text-align: center;
    background-size:cover;
    height:300px;
    width:100%;
    margin:2px;
}

h1 {
	font-size: 40px;
    padding-top: 150px;
    color:black;
}  

h1 span { 
    background-color: #F8F8FF; 
}

h2 {
    font-size: 20px;
    padding-top: 10px;
    color:black;
}

h2 span { 
    background-color: #F8F8FF; 
}

p {
    font-size:20px;
    padding: 5px;
}

ul {
    font-size:20px;
    padding: 30px;
}

.firstDiv {
    float:left;
    width:33%;
    height:200px;
    background: #00CED1;
}

.secondDiv {
    float:left;
    width:33%;
    height:200px;
    background: #00CED1;
}

.thirdDiv {
    float:left;
    width:34%;
    height:200px;
    background: #00CED1;
}

#map {
    float:bottom;
	height: 700px;
	width:100%;
    margin-top: 4px;
}  

#input {
    width:400px;
    margin:10px;
}

#button {
    width:100px;
    height:30px;
    margin:10px;
    cursor: pointer;
}

#buttonTwo {
    width:100px;
    height:30px;
    margin:10px;
    margin-top: 50px;
    cursor: pointer;
}

#list {
    cursor: pointer;
}
