html,body {
    margin: 2px;
    height:100%;
}

header {
    background-image: url("Pictures/Picture1.jpg");
    padding-top: 10px;
    text-align: center;
    background-size:contain;
    height:200px;
    width:100%;
    margin:2px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    padding-top:100px;
    color: white;
}  

h1 span { 
    background-color: rgba(0,0,0,0.2);
}

h5 {
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 50px;
    float:right;
    color:white;
}

#sign-out {
  color:white;
  float:right;
  cursor: pointer;
}

p {
    font-size:20px;
    padding: 5px;
    font-family:"Arial";
}

ul {
    font-size:15px;
    padding: 30px;
    font-family:"Arial";
}

#index {
    display: block;
    float:left;
    width:30%;
    height:100%;
    background: #F5F5F5;
    border:1px solid white;
    font-family:"Arial";
}

.head {
    height:2%;
    background-color: #E0FFFF;
}
.firstDiv {
    height:15%;
    background: #F5F5F5;
    border:1px solid #FFFAFA;
}

.secondDiv {
    height:15%;
    background: #F5F5F5;
    margin-top: 5px;
    border:1px solid #FFFAFA;
}

.thirdDiv {
    background: #F5F5F5;
    position:relative;
    margin-top: 5px;
}

#map {
    float:right;
    height: 100%;
    width:70%;

}  

#input {
    width:300px;
    height:40px;
    margin:5px;
}

#list {
    cursor: pointer;
    -ms-word-break: break-all;
    word-break: break-all;
}
 
