body {
  background-color: black;
}

.navbar-inverse {
    background-color:#fdd032;
}

.navbar-header {
    color: black;
}

.fa {
  cursor: pointer;
  padding-left: 3px;
}

#sign-out {
  color:black;
}

#message-board-container,
#sign-in-container {
    display: none;
  }
