html,body {
    margin: 2px;
    height:100%;
    font-family:"Courier New", monospace;
}

header {
    background-image: url("Pictures/Picture2.jpg");
    text-align: center;
    background-size:cover;
    height:300px;
    width:100%;
    margin:2px;
}

h1 {
    font-size: 40px;
    padding-top:180px;
    color: white;
}  

h1 span { 
    padding:30px;
    background-color: black;
}

p {
    font-size:30px;
    padding: 5px;
}

ul {
    font-size:20px;
    padding: 30px;
}

#index {
    display: block;
    float:left;
    width:25%;
    height:100%;
    background: #F5F5F5;
    border:1px solid #9ACD32;
}

.head {
    height:2%;
    width:100%;
    background-color: #9ACD32;
}
.firstDiv {
    height:20%;
    background: #F5F5F5;
    border:1px solid white;
}

.secondDiv {
    height:20%;
    background: #F5F5F5;
    margin-top: 5px;
    border:1px solid white;
}

.thirdDiv {
    background: #F5F5F5;
    position:relative;
    margin-top: 5px;
}

#map {
    float:right;
    height: 100%;
    width:75%;

}  

#input {
    width:400px;
    height:40px;
    margin:10px;
}

#list {
    cursor: pointer;
}